@{
    ViewData["Title"] = "Editar Professor";
}
<div class="">
    <h1>Editar de Professores</h1>



    <form>
        <div class="mb-3">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" placeholder="Nome Completo">
        </div>

        <div class="mb-3">
            <label for="Nome">DataNasc</label>
            <input type="datetime" class="form-control" placeholder="Data de Nascimento">
        </div>

        <div class="mb-3">
            <label for="Nome">CPF</label>
            <input type="number" class="form-control" placeholder="CPF">
        </div>

        <div class="mb-3">
            <label for="End">Endereço</label>
            <input type="text" class="form-control" placeholder="Endereço Completo">
        </div>

        <div class="mb-3">
            <label for="Nome">CEP</label>
            <input type="number" class="form-control" placeholder="CEP">
        </div>

        <div class="mb-3">
            <label for="Ctt">Telefone</label>
            <input type="number" class="form-control" placeholder="Telefone com DDD">
        </div>

        <div class="mb-3">
            <label for="Ctt">Modalidade</label>
            <input type="number" class="form-control" placeholder="Modalidade">
        </div>

        <a class="btn btn-outline-primary" asp-controller="Professor" asp-action="IndexProf">Voltar</a>
        <a class="btn btn-outline-success">Adicionar</a>

    </form>


</div>

