@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1>Bem vindo ao WebAcademy</h1>
    <h4>Esse site trata-se de um estudo com possivel finalidade de implementação.
        Basicamente um site para uso de academias.</h4>
    <p>Developed by David Renan - rNz</p>
</div>
