@{
    ViewData["Title"] = "Adicionar Modalidade";
}
<div class="">
    <h1>Editar de Modalidades</h1>


    <form>
        <div class="mb-3">
            <label for="Nome">Nome</label>
            <input type="text" class="form-control" placeholder="Nome Completo">
        </div>

        <a class="btn btn-outline-primary" asp-controller="Modalidade" asp-action="IndexModali">Voltar</a>
        <a class="btn btn-outline-success">Adicionar</a>

    </form>


</div>