@{
    @model ModalidadeModel
    ViewData["Title"] = "Adicionar Modalidade";
}
<div class="">

    <div class="container p-3 rounded-5">

        <div class="mb-5 text-center">
            <h1>Adicionar de Modalidades</h1>
        </div>

        <form method="post" asp-controller="Modalidade" asp-action="AdicionarModali">

        <div class="mb-3">
            <label for="Modali">Modalidade</label>
            <input type="text" class="form-control" asp-for="Modalidade" placeholder="Modalidade">
        </div>

        <a class="btn btn-outline-primary w-40" asp-controller="Modalidade" asp-action="IndexModali">Voltar</a>
        <button type="submit" class="btn btn-outline-success w-40">Adicionar</button>

    </form>

    </div>
</div>