@{
    @model IEnumerable<ModalidadeModel>
    ViewData["Title"] = "Modalidade";
}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Modalidades</h1>
        <a class="btn btn-outline-success" asp-controller="Modalidade" asp-action="AdicionarModali">Adicionar Modalidade</a>
    </div>

    <table class="table table-primary table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Modalidade</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var Modali in Model)
                {
                   <tr>
                       <td>@Modali.Id</td>
                       <td>@Modali.Modalidade</td>
                       <td>
                           <div class="btn-group" role="group" aria-label="Basic example">
                               <a class="btn btn-outline-warning" asp-controller="Modalidade" asp-route-id="@Modali.Id" asp-action="EditarModali">Editar</a>
                               <a role="button" class="btn btn-outline-danger" asp-controller="Modalidade" asp-route-id="@Modali.Id" asp-action="ExcluirModali">Apagar</a>
                           </div>
                       </td>
                   </tr>
                }
            }
        </tbody>
    </table>
</div>

