@model WebAcademy.Model.TbFuncionario

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Funcionários</h1>

<h4>TbFuncionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FunId" />
            <div class="form-group">
                <label asp-for="FunNome" class="control-label"></label>
                <input asp-for="FunNome" class="form-control" />
                <span asp-validation-for="FunNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunDataNasc" class="control-label"></label>
                <input asp-for="FunDataNasc" class="form-control" />
                <span asp-validation-for="FunDataNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunCpf" class="control-label"></label>
                <input asp-for="FunCpf" class="form-control" />
                <span asp-validation-for="FunCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunEmail" class="control-label"></label>
                <input asp-for="FunEmail" class="form-control" />
                <span asp-validation-for="FunEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunModalidade" class="control-label"></label>
                <input asp-for="FunModalidade" class="form-control" />
                <span asp-validation-for="FunModalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FunCategoria" class="control-label"></label>
                <input asp-for="FunCategoria" class="form-control" />
                <span asp-validation-for="FunCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
