@model ClienteModel
@{
    
    ViewData["Title"] = "Adicionar Cliente";
}

<div class="">
    
    
    <div class="container p-3 rounded-5">

        <div class="mb-5 text-center">
            <h1>Cadastrar de Clientes</h1>
        </div>

        <form method="post" asp-controller="Cliente" asp-action="AdicionarCliente">

            <div class="mb-3">
                <label for="Nome">Nome</label>
                <input type="text" class="form-control" asp-for="Nome" placeholder="Nome Completo">
            </div>

            <div class="mb-3">
                <label for="datanasc">DataNasc</label>
                <input type="date" class="form-control" asp-for="DataNasc" placeholder="Data de Nascimento">
            </div>

            <div class="mb-3">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" asp-for="CPF" placeholder="CPF">
            </div>

            <div class="mb-3">
                <label for="End">Endereço</label>
                <input type="text" class="form-control" asp-for="Endereco" placeholder="Endereço Completo">
            </div>

            <div class="mb-3">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" asp-for="CEP" placeholder="CEP">
            </div>

            <div class="mb-3">
                <label for="Ctt">Telefone</label>
                <input type="text" class="form-control" asp-for="Telefone" placeholder="Telefone com DDD">
            </div>

            <div class="mb-3">
                <label for="Modali">Modalidade</label>
                <input type="text" class="form-control" asp-for="Modalidade" placeholder="Modalidade">
            </div>

            <div class="mb-3">
                <label for="dtapgto">DataPagto</label>
                <input type="date" class="form-control" asp-for="DataPgto" placeholder="Data de Pagamento">
            </div>

            <a class="btn btn-outline-primary w-40" asp-controller="Cliente" asp-action="IndexCliente">Voltar</a>
            <button type="submit" class="btn btn-outline-success w-40">Adicionar</button>

        </form>

    </div>
</div>

